<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Figurinhas</title>
	<link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>

<body>
	<header>
		<a th:href="@{/}">Início</a>
		<a th:href="@{/figurinhas}">Figurinhas</a>
		<a th:href="@{/minha-colecao}">Minha coleção</a>
		<a th:href="@{/logout}">Sair</a>
	</header>
	
	<main>
		<h1 th:text="'Todas as figurinhas de ' + ${session.usuarioLogin}">Todas as figuorinhas</h1>					
		<div class="grid">
			<div class="figurinha" th:each="f : ${figurinhas}">
				<span class="tag-rara" th:if="${f.rara}">RARA</span>
				<h3 th:text="${f.jogador}">Nome</h3>
				<p th:text="${f.selecao}">Seleção</p>
				<form th:action="@{/colecao/adicionar}" method="post">
					<input type="hidden" name="figurinhaId" th:value="${f.id}">
					<button class="btn" type="submit">Adicionar</button>
				</form>
			</div>
		</div>
	</main>
</body>
</html>
				
			