<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"><title>Login</title>
	<link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>

<body>
	<main>
		<div class="card">
			<h1>⚽ Entrar</h1>
			<p th:if="${sucesso}" th:text="${sucesso}" 
			style="color:green; font-weight:bold;"></p>
			<p th:if="${erro}" th:text="${erro}" style="color:red"></p>
			<form th:action="@{/login}" method="post">
				<p><input type="text" name="login" placeholder="Login" required></p>
				<p><input type="password" name="senha" placeholder="Senha" required></p>
				<button class="btn" type="submit">Entrar</button>
			</form>
			<p>Não tem conta? <a th:href="@{/cadastro}">Cadastre-se</a></p>
		</div>
	</main>
</body>
</html>
						
				